<?xml version="1.0"?>
<configuration>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>

	<system.runtime.remoting>

		<application name="client">
			<client url = "http://192.168.1.15:8080">
				<activated type="TEMControlWrapper.Microscope, TEMControlWrapper"/>
			</client>
			<channels>
				<channel ref="http">
				</channel>
			</channels>
		</application>

	</system.runtime.remoting>
</configuration>
