
C++_CSharp_Client/examples/DeExampleCSharpWPF/.vs/DeExampleCSharpWPF/v15/Server/sqlite3/db.lock
*.ide-shm
*.cache
*.cache
*.ide
*.ide-wal
*.Cache
*.cache
C++_CSharp_Client/examples/DeExampleCSharpWPF/.vs/DeExampleCSharpWPF/v15/sqlite3/db.lock
*.resources
*.pdb
*.cache
*.resources
*.cache
*.db
*.db
*.opendb
*.ide
*.resources
*.cache
*.baml
*.ide
*.cache
*.db
*.cache
*.cache
*.baml
*.pdb
*.cache
*.ide
*.cache
*.ide
*.cache
*.resources
*.baml
*.ide
